.container {
	display: flex;
	min-width: 950px;
	height: 100%;
	/* .ant-layout-sider {
		box-sizing: border-box;
		flex: 0 0 auto !important;
		max-width: none !important;
		min-width: 10px !important;
		width: 280px !important;
		overflow: hidden;
		background-color: #fff;
		border-right: 1px solid rgba(0, 0, 0, 0.12);
	}
	.ant-layout {
		防止 tabs 超出不收缩
		background-color: #f5f5f5;
		overflow-x: hidden;
		.ant-layout-header {
			padding-inline: 30px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			background-color: #fff;
			border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.08);
		}
		.ant-layout-content {
			box-sizing: border-box;
			flex: 1;
			padding: 10px 12px;
			overflow-x: hidden;
		}
		.ant-layout-footer {
            background-color: #fff;
			border-top: 1px solid rgba(0, 0, 0, 0.12);
		}
	} */
}
